
Invoro\.Api/obj/

Invoro\.Api/Invoro\.Api/bin/

Invoro\.Api/Invoro\.Api/obj/

Invoro\.Api/\.vs/Invoro\.Api/v15/

Invoro\.Api/bin/

Invoro\.Api/\.vs/

Invoro\.Api/Invoro\.Api\.IntegrationTests/obj/

Invoro\.Api\.UnitTests/obj/

Invoro\.Api/Invoro\.Api\.IntegrationTests/bin/

Invoro\.Api\.UnitTests/bin/
